# This workflow runs when a new manifest is detected by cron
name: New Manifest Detected
on:
  workflow_dispatch:
  repository_dispatch:
    types: [new-manifest-detected]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: pnpm

      - name: Install
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Generate new DCS information
        run: pnpm generate-data

      - name: porcelain check
        uses: dorny/paths-filter@v3
        id: DCS-data
        with:
          base: HEAD
          filters: |
            changed:
              - '**'

      - name: Create Pull Request
        if: steps.DCS-data.outputs.changed == 'true'
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.PAT }}
          commit-message: DCS - Update Symbols - Manifest v${{ github.event.client_payload.config.env.MANIFEST_VERSION }}
          committer: DIM Font Bot <destinyitemmanager@gmail.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          title: '[DCS] Manifest Update'
          body: |
            Manifest Update
            - Update Symbols - Manifest v${{ github.event.client_payload.config.env.MANIFEST_VERSION }}
            - Auto-generated by [DCS][1]

            [1]: https://github.com/DestinyItemManager/dim-custom-symbols
          branch: dcs-manifest-v${{ github.event.client_payload.config.env.MANIFEST_VERSION }}
