name: Push to Main
on:
  push:
    branches: ['main']
    paths: ['output/**'] # Only run if new info was generated...

# Ensures that only one deploy task per branch/environment will run at a time.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout - DCS
        uses: actions/checkout@v6
        with:
          path: 'dcs'
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
          fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
          submodules: recursive

      - name: Checkout - DIM
        uses: actions/checkout@v6
        with:
          repository: DestinyItemManager/DIM
          path: 'DIM'
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
          fetch-depth: 0 # otherwise, you will failed to push refs to dest repo

      - name: Update DIM with new info from DCS
        id: DIM
        working-directory: DIM
        run: find src/data/font/* -delete && cp -f ../dcs/output/* ./src/data/font/

      - name: Create Pull Request (DIM)
        uses: peter-evans/create-pull-request@v8
        with:
          path: 'DIM'
          token: ${{ secrets.PAT }}
          commit-message: Custom Symbols Update
          committer: DIM Font Bot <destinyitemmanager@gmail.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          title: '[DCS] Symbols Update'
          body: |
            Symbols Update
            - Update All - DCS Changed
            - Auto-generated by [DCS][1]

            [1]: https://github.com/DestinyItemManager/dim-custom-symbols
          labels: dcs, automated pr, no changelog
          branch: dcs-build
